html,
body {
  height: 100%;
  width: 100%;
  background-color: aliceblue;
}
.hell {
  padding: 10px;
  /* border: 5px solid yellow; */
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.box {
  padding: 8%;
  /* border: 5px solid red; */
  display: flex;
  justify-content: center;
}
.box1 {
  width: 65%;
  height: 100%;
  background-color: rgba(var(--d87, 255, 255, 255), 1);
  border: 1px solid gray;
  border-radius: 1px;

  padding: 8%;
}
.hell2 {
  /* border: 5px solid blue; */
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}
h1 {
  text-align: center;
  padding-bottom: 15px;
  margin: 0;
  font-family: serif;
}
p {
  padding-bottom: 20px;
  margin: 0;
  text-align: center;
  color: lightslategray;
  font-family: Arial, Helvetica, sans-serif;
}

.inputBox {
  padding-bottom: 10px;
  width: 100%;
}

input {
  width: 100%;
  padding: 3% 0px 3% 3%;
  display: inline-block;
  box-sizing: border-box;

  background: rgba(var(--b3f, 250, 250, 250), 1);
}

input:focus {
  background-color: white;
  outline: none;
}

.buttonBox {
  width: 100%;
  padding-top: 10px;
}
.signupbtn {
  width: 100%;
  border-radius: 3px;
}
button {
  background-color: dodgerblue;
  color: white;
  padding: 3%;

  border: none;
  cursor: pointer;

  opacity: 0.6;
}
button:hover {
  opacity: 1;
}
