.Title {
  font-size: 40px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: black;
  color: rgba(255, 255, 255, 0.829);
}
.back_img {
  background-image: url('../../../public/brainstorm-1.jpg');
  height: 68vh;
}
.home {
  background-size: 100%;
  background-position: top;
  height: 100vh;
}
.fa-graduation-cap {
  padding-left: 15px;
  font-size: 3rem;
}

.btn__section {
  padding-bottom: 15px;
  padding-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../../../public/brainstorm-1.jpg');
  height: 84vh;
}
.btn__login,
.btn__signup {
  font-family: 'Fjalla One', sans-serif;
  font-size: large;
  background: black;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease;
  padding: 10px 70px;
  margin-right: 20px;
  margin-top: 30px;
  transition: 0.4s;
  background-image: linear-gradient(to left, #24c6dc, #514a9d);
  background-size: 200%;
  background-position: 0%;
  color: white;
}

.btn__login:hover,
.btn__signup:hover {
  background-position: 100% 0%;
}
