@import url('https://css.gg/zoom-in.css');
@import url('https://css.gg/zoom-out.css');
@import url('https://css.gg/redo.css');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.dashboard 
{
    height:100vh;
    background-color: #c2b6b6;
    background-image: linear-gradient(315deg, #c2b6b6 0%, #576574 74%);
}
.flowchart_types
{
    float: left;
    width: 25%;
    
}
.flowchart
{
    float: left;
    width: 55%;
    display: block;
    /* border: solid black; */
    padding-top: 5px;
}
.tools
{
    float: left;
    width: 10%;
    padding-top: 10px;
}

.img
{
    width: 100%;
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(to right, #24c6dc, #514a9d)
}
.fa-graduation-cap 
{
    padding-left: 15px;
    font-size: 3rem;
}

.title
{
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 15px;
    
}

.degree_options
{
    padding-top: 20px;
    padding-left: 15px;
}
.btn_degree
{
    width: 70%;
    padding: 0.5rem 1rem;
    text-align: center;
    font-size: 1.2rem;
    display: inline-block;
    border-radius:8px;
    background: linear-gradient(to right, #283048, #859398);
    background-size: 200%;
    background-position: 0%;
    transition: 0.4s;
    color: white;
    cursor: pointer;
}
.btn_degree:hover
{
    background-position: 100% 0%;
}

.btns
{
    padding-top: 10px;
}
.btn_tools
{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: azure;
}
.gg-zoom-in {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 16px;
    height: 16px;
    border: 2px solid;
    border-radius: 100%;
    background:
        linear-gradient(to bottom,
              currentColor 5px,transparent 0)
              no-repeat 2px 5px/8px 2px;
    margin-top: -4px
  }
  .gg-zoom-in::after,
  .gg-zoom-in::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 2px;
    height: 8px;
    background: currentColor
  }
  .gg-zoom-in::after {
    transform: rotate(-45deg);
    border-radius: 3px;
    top: 10px;
    left: 12px
  }
  .gg-zoom-in::before {
    top: 2px;
    left: 5px
  }


  .gg-zoom-out {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 16px;
    height: 16px;
    border: 2px solid;
    border-radius: 100%;
    margin-top: -4px
}
.gg-zoom-out::after,
.gg-zoom-out::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    background: currentColor
}
.gg-zoom-out::after {
    transform: rotate(-45deg);
    border-radius: 3px;
    width: 2px;
    height: 8px;
    top: 10px;
    left: 12px
}
.gg-zoom-out::before {
    width: 8px;
    height: 2px;
    top: 5px;
    left: 2px
}
.gg-redo {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 14px;
    height: 14px;
    border: 2px solid;
    border-right-color: transparent;
    border-radius: 100px
}
.gg-redo::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 6px;
    height: 6px;
    border-top: 2px solid;
    border-right: 2px solid;
    top: -3px;
    right: -1px;
    transform: rotate(68deg)
}

